<meta http-equiv="Content-Type" content="text/html; charset=<%= encoding %>">

<style type="text/css">
  #message_headers {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 85px;
    padding: 10px 0 0 0;
    margin: 0;
    background: #fff;
    font-size: 12px;
    font-family: "Lucida Grande";
    border-bottom: 1px solid #dedede;
    overflow: hidden;
  }

  #message_headers dl {
    margin: 0;
    padding: 0;
  }

  #message_headers dt {
    width: 60px;
    padding: 1px;
    margin: 0;
    float: left;
    text-align: right;
    font-weight: bold;
    color: #7f7f7f;
  }

  #message_headers dd {
    margin: 0 0 0 70px;
    padding: 1px;
  }

  #message_headers p.alternate {
    position: absolute;
    top: 0;
    right: 15px;
  }

  #message_headers p.alternate a {
    color: #09c;
  }

  pre#message_body {
    padding: 10px;
    word-wrap: break-word;
  }

  body {
    margin-top: 96px !important;
  }
</style>

<div id="message_headers">
  <dl>
    <dt>From:</dt>
    <dd><%= from %></dd>

    <dt>Subject:</dt>
    <dd><strong><%= mail.subject %></strong></dd>

    <dt>Date:</dt>
    <dd><%= Time.now.strftime("%b %e, %Y %I:%M:%S %p %Z") %></dd>

    <dt>To:</dt>
    <dd><%= mail.to.join(", ") %></dd>
  </dl>

  <% if mail.multipart? %>
    <p class="alternate">
      <% if type == "plain" %>
        <a href="rich.html">View HTML version</a>
      <% else %>
        <a href="plain.html">View plain text version</a>
      <% end %>
    </p>
  <% end %>
</div>

<% if type == "plain" %>
  <pre id="message_body"><%= CGI.escapeHTML(body) %></pre>
<% else %>
  <%= body %>
<% end %>

